<nav>
    <div class="nav-wrapper">
        <a href='{% url 'appointment_list'%}'> <img src="static/images/logo.png" height="60" width="60" /></a>
        <a href='{% url 'appointment_list'%}'> <img src="static/images/user_logo.png" height="60" width="60" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href='{% url 'list'%}' class="waves-effect waves-light btn">List Users</a></li>
        <li><a href='{% url 'logout'%}' class="waves-effect waves-light btn">Logout</a></li>
        
    </ul>
    </div>
</nav>