{% include 'index.html'%}
<html>
<head></head>

<div style ="width:800px; margin:0 auto;">
<body bgcolor="gray" font-color="red">
 
<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<thead>
  <tr>
      <th>Register Form</th>
  </tr>
  </thead>
 
<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<tr>
    <td align='center'>Id provider</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Id section:</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Configurations</td>
    <td><input type='text' name='name'></td>
</tr>
<tr> <td>&nbsp;</td> </tr>
<tr>
    <td align='center'>Photo</td>
    <td><input type='text' name='name'></td>
</tr>
<table border='0' cellpadding='0' cellspacing='0' width='480px' align='center'>
<tr>
    <td align='center'><input type='submit' name='REGISTER' value="register"></td>
</tr>
</table>
</table>
 
</table>
</body>


</div>

</html>